{% extends "base_template.html.twig" %}

{% block title %}Profil de {{ utilisateur.pseudo }}{% endblock %}


{% block content %}
    <div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="mb-1">{{ utilisateur.pseudo }}</h3>
            <hr>
            <p class="mb-1"><strong>Nom :</strong> {{ utilisateur.prenom }} {{ utilisateur.nom }}</p>
            <p class="mb-1"><strong>Genre :</strong> {{ utilisateur.genre }}</p>
            <p class="mb-1"><strong>Inscription :</strong> {{ utilisateur.dateInscription|date('d/m/Y') }}</p>
            <p class="mb-1"><strong>Amis :</strong> {{ amis | length }}</p>
            <p class="mb-1"><strong>Posts :</strong> {{ posts | length }}</p>
            <a href="index.php?controleur=room&methode=afficher" class="btn btn-primary mt-3" style="background-color: #e9407A;">Rejoindre la Room</a> {# A implémenté #}
        </div>
    </div>
</div>

<div class="container mt-4">
    <h4>Posts</h4>

    {% if posts is not empty %}
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <strong>{{ utilisateur.pseudo }}</strong>
                    <small class="text-muted">
                        · {{ post.dateCreation|date('d/m/Y') }}
                    </small>

                    <p class="mt-2 mb-0">{{ post.contenu }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-muted">Aucun post.</p>
    {% endif %}
</div>

{% endblock %}